<div id="collections-wrapper">
  <div id="gallery">
    <div id="tn-row-1" class="sq-thumbnail-row">
      <br /><br /><h4>Collections coming soon.  Check back.</h4>
      <ul class="thumbnails">
      </ul>
    </div> <!-- thumbnail-row -->
  </div> <!-- gallery -->
</div> <!-- collections-wrapper -->
