<div id="necklaces-wrapper">
  <div id="gallery">
    <div id="tn-row-1" class="re-thumbnail-row">
      <ul class="thumbnails">
        <% unless @necklaces.nil? %>
          <% for necklace in @necklaces %>
            <li><%= link_to image_tag(necklace.maintn), 
                    :action => 'oneproduct', :id => necklace %></li>
          <% end %>
        <% end %>
      </ul>
    </div> <!-- thumbnail-row -->
  </div> <!-- gallery -->
</div> <!-- necklaces-wrapper -->
