<div id="about-wrapper">
  <%= image_tag 'frame10.png' %>
  <div id="about-text">
    <div style="position:relative;left:-20px;top:0px;"><%= image_tag 'portrait.jpg' %></div>
 
Welcome to rosemary dudley designs! I design and handcraft distinctly elegant and whimsical contemporary silver jewelry one piece at a time.<br /><br />
 
The art of jewelry design (and the love of silver and turquoise) was engrained in me at an early age growing up in New Mexico. Being raised by a do-it-yourself woodworker and a nature-loving artist influenced the way I look at things. I have great appreciation for most things that are handcrafted, inspired by nature and creatively use existing resources.
<br /><br />
This focus on resource conservation has always been integral to my approach to life and jewelry design. My jewelry is fabricated by hand, one piece at a time using recycled sterling silver that comes from an environmentally responsible source* -- so your jewelry doesn't result in more mining. And, my smart packaging is made with high quality recycled paper.<br /><br />

My designs integrate sculptural and architectural elements that play with positive and negative space and kinetics (thanks to my first career in architecture). I also use eye-catching stones and beads that I selected in Africa, India and my homeland of New Mexico.<br /><br />

I am proud to be an Oakland-based business.<br /><br />

<span style='font-size:8px;'>*Hoover and Strong Harmony Metals [
  <%= link_to 'http://www.hooverandstrong.com/category/Environmental+Responsibility/', 'http://www.hooverandstrong.com/category/Environmental+Responsibility' %>]
</span>
  </div> 
</div>
