<div id="about-wrapper">
<br /><br />
<p>Welcome to rosemary dudley designs! I design and handcraft distinctly elegant and whimsical contemporary silver jewelry for the fun-loving and sophisticated individual!</p>
 
<p>Trained as an architect and urban designer, I began enjoying jewelry design as a creative outlet six years ago. In 2009, after one too many years of bureaucracy and long-winded processes, I ventured away from large-scale design to make designing wearable art my full time profession.  Though I got my first hands-on experience with a torch and solder when I was fifteen years old, it wasn’t until fifteen years later that I rediscovered my love of metalwork in California College of the Arts’ and The Crucible’s jewelry classes.</p>

<p>The art of jewelry design (and the love of silver and turquoise) was engrained in me at an early age growing up in New Mexico. Being raised by a do-it-yourself woodworker and artist also influenced the way I look at things. I have great appreciation for anything handcrafted, and like to figure out ways to use “scraps” or leftovers. This focus on creatively re-using resources and sustainability has always been integral to my approach to life and jewelry design. My jewelry is fabricated by hand, one piece at a time using recycled sterling silver. </p>

<p>My designs integrate sculptural and architectural elements that play with positive and negative space and kinetics. I also use interesting stones and beads that I selected while traveling in Africa and India. Lately, I have been exploring the beautiful contrast of wood overlaid with silver.</p>

<p>I am proud to be an Oakland-based business.</p>

<p>Drop me a line. I’d love to hear from you--whether it’s feedback, an order for a custom piece or a plain ol’ hello!</p>
</div>
