<div id="contact-wrapper">
  <div id="email-and-phone">
    <div id="text">
      please email me:<br />
      <span class="style-red">rosie@rosemarydudley.com</span><br /><br />
      or call me:<br />
      <span class="style-red">510-463-1660</span>
      <br /><br /><br /><br /><br /><br /><br /><br />
      <span class="style-13pt">to find out about upcoming sales,<br />email me and i'll put you on my list or
        <br /><a href="http://www.facebook.com/pages/Emeryville-CA/rosemary-dudley-designs/267005290112" target="_blank">visit my Facebook page.</a>
      </span>
    </div>
  </div>
</div>
