<div id="policies-wrapper">
<p><span class="style-red">Shipping</span><br />
Some pieces can be shipped within 24 hours, however some are made to order and require two to four weeks for fabrication. Email me to let me know what your deadline is and I will make every effort to meet it.
</p>
<p>
All orders are sent 1st Class via insured US Postal Service unless you specify otherwise. If you would like expedited shipping, or international shipping, please email me to specify. After you place an order, I will send you a confirmation email.
</p>
<p>
<span class="style-red">Payment</span><br />
In addition to accepting PayPal, MasterCard and Visa, I also accept personal checks but will not begin work on your purchase until the check is cleared; expect a longer turn around time. I reserve the right to cancel orders that are unpaid after 24 hours. I charge California sales tax to customers in California.
</p>
<p>
<span class="style-red">Warrantee and Returns</span><br />
I’d like you to be a happy customer! Please review the following policies:
</p>

<div>
  <ul>
    <li>If you are not satisfied with your purchase, please contact me within 1 
  week of receiving it. I am happy to exchange it for something else. </li>
    <li>If your item is a gift, I can exchange it up to 1 month after the item is shipped if it is in its original condition. I am not responsible for mistreatment or mishandling of pieces in route.</li>
    <li>I will make adjustments or repairs due to normal wear and tear, free of charge within one year of purchase.</li> 
    <li>If you order a custom piece, it cannot be exchanged, but can be adjusted to suit you.</li> 
    <li>Shipping costs for exchanges and/or adjustments are the responsibility of the customer.</li>
  <ul>
</div>

</div>
