<div id="press-wrapper">
  <%= image_tag 'pressframe.png' %>
  <div id="press-text">

  <h4>Under Construction</h4>

<!--
<p>rosemary dudley designs was nominated for an
< % = link_to ' Oakland Indie Award 2010!', 
    'http://oaklandunwrapped.com/indies/nominees10.html',
    :target => 'blank' % >
</p><p>
I am also proud to be part of the local arts scene and have been an active participant in the following events and collectives:
</p><p>
< % = link_to 'Oakland Unwrapped', 'http://oaklandunwrapped.org', 
    :target  => 'blank' % >
</p><p>
< % = link_to "Noise Pop n' Shop", 
    'http://sf.funcheap.com/227-instant-noise-pop-shop/', :target => 'blank' % >
</p><p>
< % = link_to 'Feria Urbana', 
    'http://novoscene.wordpress.com/2010/05/07/0507-your-oakland-weekends-here',
    :target => 'blank' % >
</p><p>
< % = link_to 'The Crucible', 'http://thecrucible.org', :target => 'blank' % >
</p><p>
< % = link_to 'Metal Arts Guild', 'http://www.metalartsguildsf.org',
    :target => 'blank' % >
</p>
-->

  </div>
</div>
